* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: hsl(205, 90%, 50%);
}

a:hover {
  color: hsl(205, 90%, 40%);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.1rem;
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  /* padding-inline: 2rem; */
  /* padding-block: 2rem; */
}

/* =========== MAIN MENU=========== */

.main-menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0;
  padding: 1rem;
  background-color: #222;
}

.main-menu li {
  list-style-type: none;
  display: inline-block;
}

.main-menu a {
  text-decoration: none;
  font-size: 1.25rem;
}

.main-menu a.active {
  color: orange;
}

/* =========== CONTAINER =========== */
.container {
  width: 90%;
  margin: 0 auto 40px;
}

/* =========== THUMBNAILS =========== */
.img-thumbnail {
  border-radius: 8px;
  border: solid 1px #fff;
}

/* =========== CITE =========== */
.cite {
  margin-top: 40px;
  background-color: #999;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #fff;
}

.cite h2 {
  margin-top: 0;
}

.cite blockquote {
  font-style: italic;
  margin: 0;
}

.cite blockquote p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.cite cite {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.75rem;
}

.cite h2 {
  font-size: 1.2rem;
}

/* =========== ICON =========== */
.icon {
  filter: invert();
}

/* =========== NEWS =========== */
.news {
  padding: 20px;
  background-color: #eee;
}

/* =========== CONTACT INFORMATION =========== */
.contact-information {
  margin-top: 20px;
}

.contact-information table {
  margin-left: 20px;
}

.contact-information table td {
  padding: 5px;
}

/* =========== FOOTER =========== */
footer {
  background-color: #222;
  padding: 1rem 0 2rem;
  text-align: center;
  font-size: 0.75rem;
}

footer address p {
  margin: 0;
}